@media all and (max-width: 489px) {

  .header {
    margin-bottom: 50px;
  }

  .fs-huge {
    font-size: 270%;
  }

  .sm-center {
    justify-content: center;
  }

  footer {
    height: 4rem;
  }
}

@media all and (min-width: 490px) and (max-width:950px) {
  .fs-huge {
    font-size: calc(3.3rem + 3.3vw);
  }
}

@media all and (min-width:1050px) and (max-width:1200px) {
  h3 {
  font-size: calc(1.2rem + .6vw);
  }
}


@media all and (min-width: 1366px) {
  .fs-huge {
    font-size: 7.25rem;
  }
}