body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background: #FFD0CD;
}

h1, h2, h3 {
  font-family: 'Solway';
  font-weight: 400;
}

}

span {
  border: 1px solid #000;
  text-align: center;
  padding: 5px 10px;
  margin: 200px auto 0 auto;
  display: table;
}

span:hover {
  background: #000;
  color: #fff;
}

ul li {
  font-family:'EB Garamond', serif;
  position: relative;
  left: -5px;
}

.link {
  display: inline-block;
}

.logo {
    max-width: 120px;
}

.logo-temp {
    background-image: url('../images/sparkle.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    clip-path: circle(50%);
    margin-top: 25px;
}

.quicksand-bold {
    font-family: 'Quicksand Bold', serif;
}

.fake-button {
    border: 1px solid black;
    border-radius: 50px;
    display: inline-block;
    padding: 0.5rem;
}

.gap-sm {
  height: 1rem;
}

.btn-x-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

.fs-huge {
  font-size: calc(4.525rem + 3.3vw);
}

.kris-bg {
  background-color: transparent;
}

.kris-border {
  border: black 1px solid;
}

/* TIMELINE */

.timeline-node {
  background: url('../images/timeline-node.png') center top no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-size: 20px 20px;
}

.reg:hover {
  background: url('../images/timeline-node-hover.png') center top no-repeat;
  background-size: 20px 20px;
}

/*.title {
  margin-bottom: 3rem;
}*/

.popup-left {
  margin-right:62.5%;
  right: 1px;
}

.popup-right {
  margin-left:62.5%;
}

/* SECTIONS */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 768 px;
}


/* ABOUT */
.old-about {
  border-top: 5px double black;
  padding: 30px 15%;
}

/* CONTACT */

.contact {
  border-top: 5px double black;
}

.mobile-show {
  display: none;
  font-family: 'EB Garamond', serif;
  border-left: 5px double red;
  border-top: 5px double red;
  border-right: 5px double blue;
  border-bottom: 5px double blue;
  margin: 10px 10px 50px 10px;
  padding: 10px;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.contact-icon {
  display: inline-block;
  height: 80px;
  width: 80px;
}

.twitter {
  background: url(../images/twitter-256-black.png) no-repeat;
  background-size: 80px 80px;
}

.mail {
  background: url(../images/email-256-black.png) no-repeat;
  background-size: 80px 80px;
}

.linkedin {
  background: url(../images/linkedin-256-black.png) no-repeat;
  background-size: 80px 80px;
}
