body {
  font-family: 'Solway', sans-serif;
  font-size: 18px;
  background: rgb(241, 210, 229);
}

h1, h2, h3 {
  font-family: 'varela_roundregular', serif;
}

footer {
  height: 50px;
  font-size: 10px;
}

li {
  padding-bottom: 1rem;
}

a {
  color: black;
}

a:hover {
  color: #C8B6D9;
  text-decoration-line: underline;
  transition: 0.2s ease-out;
}

b {
  font-weight: 900;
}

.logo {
    max-width: 120px;
}

.sparkle {
    background-image: url('../images/sparkle.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    clip-path: circle(50%);
}

.fake-button {
    border: 1px solid black;
    border-radius: 50px;
    display: inline-block;
    padding: 0.5rem;
}

.gap-sm {
  height: 1rem;
}

.btn-x-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

.fs-huge {
  font-size: calc(4.525rem + 3.3vw);
}

.k-no-bg {
  background-color: transparent;
}

.k-no-bor {
    border: none;
}

.blk-border {
  border: black 1px solid;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}


/*.item {
  position: relative;
}*/

.item:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.375rem;
}

.item-content {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px rgba(33, 37, 41, 1) solid;
  border-radius: 0.375rem;
  transform: translate(0,0);
  transition: transform 0.2s;
  background: #f8ddb7;
}

.item-content:hover {
  transform: translate(-5%,-5%);
}

.portfolio {
  text-align: left;
}


.portfolio-bg {
  background-color: #ffe499;
}

.logo-test{
  width: auto;
  max-height: 1.75rem;
  float: left;
}

.testimonial-bg {
  background-color: #d1deb1;
}

.about-bg {
  background-color: #f1d2e5;
}

.post-kris {
  position: relative;
  overflow: hidden;
}

.post-kris:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: left 0 0;
  transform: scaleX(0);
  transition: 0.4s ease-out;
  border-radius: 50px;
}

.post-kris:hover .post-title-kris {
  color: #FFF;
}

.post-kris:hover:before {
  transform: scaleY(1);
}

.post-title-kris {
  position: relative;
  transition: 0.4s ease-out;
  margin-bottom: 0;
  color: #f1d2e5;
}

/* PORTFOLIO */

.redacted {
  background: #212529;
  border-radius: 0.1em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  height: auto;
  width: fit-content;
  transform: skewY(-5deg) rotate(5deg);
  display: inline-block;
}

.nda {
  min-width: 256px;
  min-height: 143px;
  max-width: 410px;
  max-height: 227px;
  background: black;
  aspect-ratio: 16 / 9;
}

.redacted span {
  transition: 0.4s ease-out;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.redacted span:hover {
  color: #fff;
}

.reveal span {
  color: #fff;
}

.big-boi {
  font-size: 5rem;
}

.shh {
  opacity: 0;
  transition: 0.4s ease-out;
}

.shh-div:hover > .shh {
  opacity: 1;
}



/*li .redacted {
  display: inline-block;
}*/

.k-lgi-mod {
  border: none;
  background: transparent;
}

.varela {
  font-family: 'varela_roundregular', sans-serif;
}

.underline {
  text-decoration: underline;
}

.make-block {
  display: block;
}

.max-200-px {
  max-height: 200px;
}

.solway-bold {
  font-family: 'solwaybold', sans-serif;
}